.modal1 {font-family: "Mariupol";                     
    font-size:3vmax;
    grid-row:3;
    grid-column:1/3;}
#formEnter {grid-row:5/8;
       grid-column:1/3;
       width:60%;
       height:100%;
       display:grid;
       grid-template-columns: 100%;
       grid-template-rows:repeat(3,1fr);
       row-gap:15%;}
#formReg {grid-row:5/8;
       grid-column:1/3;
       width:60%;
       height:100%;
       display:grid;
       grid-template-columns: 100%;
       grid-template-rows:repeat(4,1fr);
       row-gap:12%;}
.inputModal {width:100%;       
  height:100%;
  padding-left: 5%;
  font-size: 1.1vmax;
  box-sizing: border-box;
  font-family: "Inter";
  color: #6c6c6c;
  border-radius: 1vmax;
  grid-column:1;
  border: 0.1vmax solid #6c6c6c;} 
input:focus {outline: none;}

.closeEnterReg {grid-row:2;
        grid-column:1;
        justify-self: end;}
.buttonEnterReg {height:100%;
            width:70%;
            justify-self: center;}
#modalShadow {width:100%;
         position:absolute;
         display:none;
         top:0;
         left:0;
         background-color: rgba(0,0,0,0.5);}
#modalEnter {grid-template-rows: 5% 5% 15% 10% 1fr 5% 10% 13%;}
.modalRegEnter {border-radius:1.5vmax;
       position:fixed;
       top:-50%;
       left:50%;
       transform: translate(-50%, -50%);
       transition: all .6s ease-in;
       background-color: #f9f9f9;
       border: 0.15vmax solid #2D4EFF;
       display:grid;
       grid-template-columns: auto 4%;
       justify-items: center;}
#modalReg {grid-template-rows: 5% 5% 12% 10% 1fr 20% 10% 13%;}

* {margin:0;
padding:0;
border: 0;
font-size: 100%;}
html, body {background-color: #f9f9f9;}
a {text-decoration: none;
color:inherit;}
@font-face { font-family: "Inter";
   src: url("fonts/Inter-Regular.woff"); 
  font-weight: normal;
  font-style: normal; }
@font-face { font-family: "Inter Light";
   src: url("fonts/Inter-LightBETA.woff"); 
  font-weight: normal;
  font-style: normal; }
@font-face { font-family: "Mariupol";
   src: url("fonts/Mariupol-Regular.woff"); 
  font-weight: normal;
  font-style: normal; }
.blueButton {background-color: #2D4EFF;
        border: none;
        border-radius: 0.75vmax;
        color:white;
        font-size: 1.2vmax;
        font-family: "Inter";}

@media (max-width:480px) {nav {height:8vh;
                          grid-template-columns:5% 10vw 1.5vw 15vw 1fr 0.9fr 2% 0.9fr 2% 5% 5%;} 
                     #navigation {display: none;}
                     #menuMobile {grid-column:10;
                                  width:100%;
                                  align-self:center;} 
                     #reg, #enter {height:45%;} 
                     #modalEnter {width:80%;
                                  height:33%;}    
                     #modalReg {width:80%;
                                height:40%;}     
                     #navMobile {grid-template-columns: 10% auto 16% 12%;
                                   grid-template-rows: 2.5% 3.5% auto;}  
                     #headline2 {width:85%;}  
                     #timetableBlock {height:70vmax;
                                     grid-template-rows: 5% 3% 4% 3% 4% 10% 1fr 3% 1fr 3% 1fr;}
                     #tableHead {grid-template-columns: 1fr repeat(4,0.75fr);
                                   grid-template-rows: repeat(2,1fr); 
                                  row-gap:15%;}
                     .tableText1 {grid-row:1;
                                      grid-column:1;} 
                     .tableText2 {grid-row:2;
                                      grid-column:1;} 
                     .tableText3 {grid-row:1;
                                      grid-column:2;} 
                     .tableText4 {grid-row:2;
                                      grid-column:2;} 
                     .tableText5 {grid-row:1;
                                      grid-column:3;}
                     .tableText6 {grid-row:2;
                                      grid-column:3;} 
                     .tableText7 {grid-row:1;
                                      grid-column:4;
                                   justify-self: center;} 
                     .tableText8 {grid-row:1;
                                  justify-self: center;
                                      grid-column:5;} 
                     .tableText9 {grid-row:3;
                                  grid-column:2;}
                     .tableText10 {grid-row:3;
                                  grid-column:3;} 
                     .wrapTimetable {grid-template-columns: 1fr repeat(4,0.75fr);
                                    grid-template-rows: repeat(3,1fr); 
                                   row-gap:10%;}   
                     footer {grid-template-columns: 1fr 10% 1fr;
                               grid-template-rows: 65% 50%;
                               height:40vmax;}
                    #gradMobileNone {display:none;} 
                    #footerCol3 {padding-left: 10%;}  }

@media (min-width:481px) and (max-width:1199px) and (orientation: portrait) {nav {height:8vh;
                                   grid-template-columns:5% 10vw 1.5vw 15vw 1fr 0.9fr 2% 0.9fr 2% 5% 5%;} 
                              #navigation {display: none;}
                              #menuMobile {grid-column:10;
                                           width:100%;
                                           align-self:center;} 
                              #reg, #enter {height:45%;} 
                              #modalEnter {width:60%;
                                           height:33%;}    
                              #modalReg {width:60%;
                                         height:40%;}       
                               #navMobile {grid-template-columns: 10% auto 16% 12%;
                                           grid-template-rows: 2.5% 3.5% auto;}  
                               #headline2 {width:60%;} 
                               #timetableBlock {height:70vmax;
                                     grid-template-rows: 5% 3% 3% 3% 5% 10% 1fr 3% 1fr 3% 1fr;}
                     #tableHead {grid-template-columns: 1fr repeat(4,0.75fr);
                                   grid-template-rows: repeat(2,1fr); 
                                  row-gap:15%;}
                     .tableText1 {grid-row:1;
                                      grid-column:1;} 
                     .tableText2 {grid-row:2;
                                      grid-column:1;} 
                     .tableText3 {grid-row:1;
                                      grid-column:2;} 
                     .tableText4 {grid-row:2;
                                      grid-column:2;} 
                     .tableText5 {grid-row:1;
                                      grid-column:3;}
                     .tableText6 {grid-row:2;
                                      grid-column:3;} 
                     .tableText7 {grid-row:1;
                                      grid-column:4;
                                   justify-self: center;} 
                     .tableText8 {grid-row:1;
                                  justify-self: center;
                                      grid-column:5;} 
                     .tableText9 {grid-row:3;
                                  grid-column:2;}
                     .tableText10 {grid-row:3;
                                  grid-column:3;} 
                     .wrapTimetable {grid-template-columns: 1fr repeat(4,0.75fr);
                                    grid-template-rows: repeat(3,1fr); 
                                   row-gap:10%;}
                      footer {grid-template-columns: 1fr 8% 1fr;
                               grid-template-rows: 60% 55%;
                               height:40vmax;}
                    #gradMobileNone {display:none;} 
                    #footerCol3, #footerCol4, #footerCol2 {padding-left: 10%;}  }
                               
@media (min-width:481px) and (max-width:1199px) and (orientation: landscape) {nav {height:18vh;
                                           grid-template-columns:5% 6.5vw 1.5vw 15vw 1fr 0.9fr 2% 0.9fr 2% 5% 5%;} 
                                      #navigation {display: none;}
                                      #menuMobile {grid-column:10;
                                                   width:100%;
                                                   align-self:center;} 
                                      #reg, #enter {height:45%;} 
                                      #modalEnter {width:60%;
                                                   height:65%;}    
                                      #modalReg {width:60%;
                                                 height:85%;}       
                                       #navMobile {grid-template-columns: 10% auto 15% 12%;
                                                   grid-template-rows: 4% 10% auto;}  
                                       #headline2 {width:40%;} 
                                       #timetableBlock {height:50vmax;
                                                       grid-template-rows: 7% 5% 5% 5% 5% 5% 1fr 3% 1fr 3% 1fr;}
                                       #tableHead {grid-template-columns: repeat(8,1fr);
                                                    grid-template-rows: 100%; } 
                                       .terminalGate {justify-self: center;}
                                       .wrapTimetable {grid-template-columns: repeat(8,1fr);
                                                       grid-template-rows: 60% auto;  }  
                                       .code1 {grid-row:2;
                                               grid-column:2;}         
                                       .code2 {grid-row:2;
                                                grid-column:4;}  
                                       footer {grid-template-columns: 1.2fr 5% 1fr 5% 1fr 5% 1fr;
                                                        grid-template-rows: 100%;
                                                        height:23vmax;}      }

@media (max-width:1720px) and (min-width:1200px) {nav {height:13vh;
                                                   grid-template-columns:5% 5vw 1vw 10vw 1fr 0.2fr 2% 0.2fr 5%;} 
                                             #navigation {display: flex;}
                                             #menuMobile {display:none;}
                                             #reg, #enter {height:55%;} 
                                             #modalEnter {width:40%;
                                                           height:55%;}
                                             #modalReg {width:40%;
                                                       height:70%;} 
                                             #navMobile {grid-template-columns: 10% auto 16% 12%;
                                                         grid-template-rows: 2.5% 3.5% auto;} 
                                               #headline2 {width:40%;}
                                               #timetableBlock {height:50vmax;
                                                               grid-template-rows: 7% 5% 5% 5% 5% 5% 1fr 3% 1fr 3% 1fr;} 
                                               #tableHead {grid-template-columns: repeat(8,1fr);
                                                           grid-template-rows: 100%; } 
                                               .terminalGate {justify-self: center;}
                                               .wrapTimetable {grid-template-columns: repeat(8,1fr);
                                                               grid-template-rows: 60% auto;  }    
                                               .code1 {grid-row:2;
                                                        grid-column:2;}         
                                               .code2 {grid-row:2;
                                                       grid-column:4;}    
                                               footer {grid-template-columns: 1.2fr 5% 1fr 5% 1fr 5% 1fr;
                                                        grid-template-rows: 100%;
                                                        height:23vmax;} }

@media (min-width:1721px) {nav {height:14vh;
                           grid-template-columns:5% 5vw 1vw 10vw 1fr 0.2fr 2% 0.2fr 5%;}
                       #navigation {display: flex;}
                       #menuMobile {display:none;} 
                       #reg, #enter {height:55%;} 
                       #modalEnter {width:40%;
                                   height:55%;} 
                       #modalReg {width:40%;
                                  height:70%;}
                       #navMobile {grid-template-columns: 10% auto 16% 12%;
                                   grid-template-rows: 2.5% 3.5% auto;} 
                       #headline2 {width:40%;} 
                       #timetableBlock {height:50vmax;
                                       grid-template-rows: 7% 5% 5% 5% 5% 5% 1fr 3% 1fr 3% 1fr;} 
                       #tableHead {grid-template-columns: repeat(8,1fr);
                                   grid-template-rows: 100%; } 
                       .terminalGate {justify-self: center;}
                       .wrapTimetable {grid-template-columns: repeat(8,1fr);
                                       grid-template-rows: 60% auto;  }     
                       .code1 {grid-row:2;
                               grid-column:2;}         
                       .code2 {grid-row:2;
                               grid-column:4;} 
                       footer {grid-template-columns: 1.2fr 5% 1fr 5% 1fr 5% 1fr;
                               grid-template-rows: 100%;
                               height:23vmax;}}
nav {width:100%; 
display:grid;
grid-template-rows:100%;}
#logo {max-width: 100%;
  max-height: 75%;
  min-width:90%;
  min-height:55%;
 align-self:center;
 grid-column:2;
 grid-row:1;}
#logoText {grid-column:4;
      color:#2D4EFF;
      font-family: "Inter Light";
      font-size: 1.4vmax;
      align-self: center;
      grid-row:1;}
#navigation {grid-column:1/span all;
        grid-row:1;
        width:30%;
        justify-self: center;
        align-items: center;
        justify-content: space-between;
        font-family: "Inter";
        font-size: 1.4vmax;}
#curPage {color:#2D4EFF;
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 100%;
     height:100%;}
#curPage a {grid-row:1;
       grid-column:1;
       align-self: center;}
#blueLine {width:5%;
      height: 30%;
      grid-row:1;
      grid-column:1;
      background-color: #2D4EFF;
      justify-self: center;}
.navBlue:hover {color:#2D4EFF;}
#reg {grid-column: 8;
 grid-row:1;
 align-self:center;}
#enter {grid-column: 6;
  grid-row:1;
  align-self:center;}
#navMobileShadow {background-color: rgba(0,0,0,0.5);
             width:60%;
             height:100%;
             position:absolute; 
             top:0;
             left:0;}
#navMobile {background-color: rgba(32, 50, 152, 0.9);
       width:40%;
       height:100%;
       position:absolute;
       top:0;
       right:0;}
#navMobileText {align-self:center;
           color:white;
           height:40%;
           width:5%;
           font-family: "Inter";
           font-size: 1.5vmax;
           grid-column:2;
           grid-row:1/span all;
           grid-template-rows: repeat(4,1fr);
           grid-template-columns: 100%;}
#navMobileShadow, #navMobile, #navMobileText {display:none;}
#close {grid-row:2;
   grid-column:3;
   width:4vmax;
   height:4vmax;}
.labelModal {grid-column:1;
margin-top: 1%;
margin-left: 5.1%;
font-family: "Inter";
font-size: 0.9vmax;
color:#6c6c6c;
height:10%;
width:100%;
display:none;}
#labelEnterEmailTel, #labelRegName, #enterEmailTel, #regName {grid-row:1;}
#labelEnterPass, #labelRegEmailTel, #enterPass, #regEmailTel {grid-row:2;}
#buttonEnter, #labelRegPass, #regPass {grid-row:3;}
#timetableBlock {width:100%;
           display:grid;
           grid-template-columns:3% auto 3%;}
.headline {font-size: 2.3vmax;
      font-family: "Mariupol";}
#headline1 {grid-row:2;     
       grid-column:2;}
#headline2 {grid-row:4;
       justify-self: center;
       display:flex;
      grid-column:2;
       justify-content: space-evenly;}
#today {color:#2D4EFF;}
#tableHead {display:grid;
      width:97%;
      justify-self: end;
       grid-column:2;
       grid-row:6;}
#tableHead div {color:#6c6c6c;
           font-size: 1.4vmax;
           font-family: "Inter";}
.timetable, .flightInfo {grid-column:2;
        background-color: white;
        border-radius:1.5vmax;
        border: 0.15vmax solid #2D4EFF;}
#timetable1, #timetable1T, #timetable1Y {grid-row:7;}
#timetable2, #timetable2T, #timetable2Y {grid-row:9;}
#timetable3, #timetable3T, #timetable3Y {grid-row:11;}
#timetable1, #timetable2, #timetable3 {display: grid;}
#timetable1T, #timetable2T, #timetable3T {display:none;}
#timetable1Y, #timetable2Y, #timetable3Y {display:none;}
.wrapTimetable {width:97%;
           height:80%;
           align-self: end;
           justify-self: end;
           display:grid;}
.timetable div :not(.code1, .code2) {font-family: "Inter";
           font-size: 1.5vmax;}
.statusGreen {color:#2A7E1D;}
.statusRed {color:#AB2929;}
.statusYellow {color:#BBAC28;}
.code1 {color:#6c6c6c;
   font-size: 1.2vmax;
   font-family: "Inter";}
.code2 {color:#6c6c6c;
   font-size: 1.2vmax;
   font-family: "Inter";}
.void {height:13vmax;
  width:100%;}
footer {display:grid;}
footer img {height:100%;
       width:100%;}
#footerCol1 {display: grid;
        grid-template-columns: 10% 17% 5% auto;
        grid-template-rows: 3% 18% repeat(3, 1fr) 7%;}
#buttonFooterText1, #buttonFooterText2,  #buttonFooterText3 {font-family:"Inter";
                                                       font-size: 1.3vmax;
                                                       align-self: center;}
.headlineFooter {grid-row:2;
            grid-column: 2/5;}
.buttonFooter {border-radius: 1000vmax;
          background-color: #2D4EFF;
          align-self:center;
          border:none;
          width:4vmax;
          height:4vmax;
          display:grid;
          justify-items: center;
          align-items: center;}
#buttonF1 {grid-row:3;
      grid-column: 2;}
#buttonF2 {grid-row:4;
      grid-column: 2;}
#buttonF3 {grid-row:5;
      grid-column: 2;}
.imgButtonFooter {width:50%;
             height:50%;}
#buttonFooterText1 {grid-row:3;
               grid-column:4;}
#buttonFooterText2 {grid-row:4;
               grid-column:4;}
#buttonFooterText3 {grid-row:5;
               grid-column:4;}
.footerPart {display: grid;
        grid-template-columns: 10% auto;
        grid-template-rows: 3% 10% repeat(4, 1fr) 25%;}
.footerPart div:not(.headlineFooter, .headline) {font-size: 1.3vmax;
                                            font-family: "Inter";
                                            color:#6c6c6c;}
.footerPartRow4 {grid-row:4;
           grid-column:1/span all;}
.footerPartRow5 {grid-row:5;
            grid-column:1/span all;}
.footerPartRow6 {grid-row:6;
           grid-column:1/span all;}
.footerPartRow7 {grid-row:7;
           grid-column:1/span all;}
.so:hover {color:#2D4EFF;}



@media (max-width:480px) {#headerMain {height:70vmax;}  
#searchBlock {grid-template-columns: 5% 0.1% auto;
               grid-template-rows: 5% 20% auto;} 
#imgAirplane {display:none;} 
#imgSky {display:none;}
#headlineHeader {font-size:4vmax;} 
.void2 {display:none;} 
#sliderBlock {grid-template-columns: 3% 7% 2% auto 2% 7% 3%;
           height: 17vmax;
           grid-template-rows: 100%;}
.slide {grid-template-rows:55% 30% 1% 3% auto;} 
.slideHeadline{font-size:2vmax;}  
.slideA{font-size:1vmax;} 
} 
@media (min-width:481px) and (max-width:1199px) and (orientation: portrait) {#headlineHeader {font-size:4.5vmax;}
                                                   #headerMain {height:75vmax;}
                                                   #searchBlock {grid-template-columns: 10% 0.1% auto;
                                                                grid-template-rows: 5% 23% auto;} 
                                                                           #imgAirplane {display:none;} 
                                                                           #imgSky {display:none;}
                                                   .void2 {display:none;} 
                                                   }
@media (min-width:481px) and (max-width:1199px) and (orientation: landscape) {#headerMain {height:70vmax;} 
                                                    #headlineHeader {font-size:4.5vmax;} 
                                                    #searchBlock {grid-template-columns: 55% 7% auto;
                                                                 grid-template-rows: 10% 20% auto;}
                                                   #sliderBlock { height: 35vmax;
                                                                   grid-template-columns: 3% 3% 2% auto 2% 3% 3%;
                                                                   grid-template-rows: 100%;}
                                                   .slide {grid-template-rows:75% 12% 1% 3% auto;}
                                                   .slideHeadline{font-size:2.9vmax;}
                                                   .slideA{font-size:1.4vmax;}  }
@media (min-width:1200px) {#headerMain {height:70vmax;} 
                           #searchBlock {grid-template-columns: 55% 7% auto;
                                           grid-template-rows: 10% 20% auto;}
                           #headlineHeader {font-size:4.5vmax;} 
                           #sliderBlock { height: 35vmax;
                                           grid-template-columns: 3% 3% 2% auto 2% 3% 3%;
                                           grid-template-rows: 100%;}
                           .slide {grid-template-rows:75% 12% 1% 3% auto;}
                           .slideHeadline{font-size:2.9vmax;}
                           .slideA{font-size:1.4vmax;} }
#headerMain {width:100%;
display: grid;
grid-template-columns: 48% 10% auto;
grid-template-rows: 10% auto;}
#navInHeader {grid-row:1;
grid-column:1/span all;}

#searchBlock {display: grid;
grid-row:2;
grid-column:1/span all;}
#imgAirplane {grid-column:1/3;
grid-row:1/3;
align-self:center;
width:100%;}
#imgSky {grid-row:1/3;
grid-column:1;
height:100%;
width:80%;}
#headlineHeader {grid-row:2;
grid-column:2/4;
font-family: "Mariupol";}
#formHeader {display: grid;
grid-row:3;
grid-column:3;
grid-template-columns:1fr 10% 1fr 12%;
grid-template-rows:7% 6.5% 8% 7% 6.5% 8% 7% 6.5% 8% 7.5% auto;} 
.inputSelectHeader {border-radius:0.5vmax;
font-weight: 500;
color: #6c6c6c;
padding-left: 7%;
box-shadow:0.15vmax 0.15vmax 0.4vmax 0.1vmax rgba(0,0,0,0.08); 
font-family: "Inter";
font-size:1.1vmax;}
.selectHeaderPassenger {grid-row:8;
grid-column:1/4;
border-radius:0.5vmax;
font-weight: 500;
color: #6c6c6c;
padding-left: 3%;
width:60%;
box-shadow:0.15vmax 0.15vmax 0.4vmax 0.1vmax rgba(0,0,0,0.08); 
font-family: "Inter";
font-size:1.1vmax;}
input[type="date"]  {padding-right: 5%;}
input[type="date"]::-webkit-calendar-picker-indicator {background: url("images/Polygon1.png") no-repeat;
                              margin-top: 5%;}
.selectHeaderPassenger {background: url("images/Polygon1.png") no-repeat;
appearance: none;
background-color: white;
background-size: 6.5%;
background-position: 96.5%;}
.selectHeader {background: url("images/Polygon1.png") no-repeat;
appearance: none;
background-size: 8.5%;
background-position: 95%;
background-color: white;}
select:focus {outline:none;}
.labelHeader {font-family: "Inter";
font-weight: 600;
font-size: 1.3vmax;}
#labelBack {grid-row:1;
grid-column:3;}
#inputBack {grid-row:2;
grid-column:3;}  
#inputThere {grid-row:2;
grid-column:1;}
#labelFrom {grid-row:4;
grid-column:1;}
#selectFrom {grid-row:5;
grid-column:1;}
#labelTo {grid-row:4;
grid-column:3;}
#selectTo {grid-row:5;
grid-column:3;}
#labelPassenger {grid-row:7;
grid-column:1/4;}
#buttonHeader {grid-row:10;
grid-column:1/4;
width:100%;}

.void2 {height:8vmax;
width:100%;}
#sliderBlock {display:grid;
width:100%;}
.slideButton {height:3vmax;
width:3vmax;
display:grid;
align-self: center;
background-color: #2D4EFF;
border-radius: 1000vh;}
#slideButtonLeft {grid-column:2;}
.slide { background-size: 100% 100%;
background-repeat: no-repeat;
display:grid;
grid-template-columns:3% auto;
border-radius:0.5vmax;
height:100%;}
#slideWrap {grid-column: 4;
grid-row:1;
overflow:hidden;}
#slideButtonRight {grid-column:6;}
.slideButton svg {align-self: center;
justify-self: center;
width:35%;
height:35%;}
.slideHeadline {color:white;
font-family:"Inter";
font-weight:600;
grid-row:2;
grid-column:2;}
.slideA {color:white;
font-family:"Inter";
grid-row:4;
grid-column:2;}
.slideA a:hover {color:#2D4EFF;}

#slide1 {background-image: url("images/ca40bf3ffe3dc71fdc78f0060416a9cd1.png");
position:relative;
left:0%;
top:0%; }
#slide2 {background-image: url("images/tak-vyglyadit-obed-pri-perelete-dlitelnostyu-bolee-3-h-chasov1.png");
position:relative;
left:100%;
top:-100%;}
#slide3 {background-image: url("images/33969_1000.jpg");
position: relative;
left:-100%;
top:-200%;}



.noNavPage:hover {color:#2D4EFF;}
             .headlineGrid{height:5vmax;}
             .flightGrid {height:3vmax;}
             .grid {width:100%;
                    display:grid;
                    grid-template-columns: 5% auto 5%;;
                    grid-template-rows: 100%;}
              .headlineCol2 {grid-column:2;}
              .voidCatalogue {width:100%;
                              height:5vmax;}
               .voidCatalogueHalf {width:100%;
                              height:3.5vmax;}
              .flight {font-family: "Inter";
                       font-size:2vmax;
                       grid-column:2;
                       justify-self: end;}
              .flightNo {color: #6c6c6c;}
              .flightInfoGrid {height:17vmax;}
              .flightInfo {display:grid;
                              grid-template-rows:8% auto 8%;
                              grid-template-columns: 0.1% 1fr 1fr 1.2fr 1fr 2fr 0.1%;
                              column-gap: 3%;}
              .flightBlockDate {background-color: rgba(45,78,255,0.06);
                               grid-row:2; 
                               grid-column: 2;
                               border-radius: 1vmax;
                               display:grid;
                               grid-template-columns: 100%;
                               row-gap: 12%;
                               grid-template-rows: 0.1% repeat(3,1fr) 0.1%;
                               font-family: "Inter";
                               justify-items: center;}
               .flightDateRow1 {grid-row:2;
                                font-size:1.3vmax;}
               .flightDateRow2 {grid-row:3;
                                font-size:2.7vmax;
                                font-weight: 600;}
               .flightDateRow3 {grid-row:4;
                                font-size:1.5vmax;
                             font-weight: 600;}
                .flightBlockFrom, .flightBlockTo {display:grid;
                                                grid-template-columns: 100%;
                                                row-gap: 8%;
                                                grid-template-rows: 0.1% repeat(2,1fr) 5% 1fr auto;
                                                font-family: "Inter";
                                                justify-items: center;}
                .flightBlockTo {grid-row:2; 
                               grid-column: 5;}
                .flightBlockFrom {grid-row:2; 
                               grid-column: 3;}
                .flightGray {color:#6c6c6c;}
                .flightFromToRow1 {grid-row:2;
                               font-weight: 600;
                               font-size: 2.2vmax;}
                .flightFromToRow2 {grid-row:3/5;
                                 font-size: 1.5vmax;
                                justify-self: center;
                                text-align: center;}
                .flightFromToRow3 {grid-row:5;
                                font-size: 1.5vmax;}
                .flightBlockInWay {display:grid;
                                    grid-template-columns: 100%;
                                    row-gap: 8%;
                                    grid-template-rows: 0.1% 37% 8% auto;
                                    font-family: "Inter";
                                    font-size:1.2vmax;
                                    color:#6c6c6c;
                                    justify-items: center;
                                    grid-row:1/3;
                                    grid-column:4;}
                .flightImgInWay {grid-row:1;
                                 width:110%;}
                .flightInWay {grid-row:3;}
                .flightBlockClass {grid-row:2;
                                   grid-column:6;
                                   display:grid;
                                    grid-template-columns: 8% 1fr 1fr 8%;
                                    row-gap: 10%;
                                    grid-template-rows: 0.1% repeat(3,1fr) 0.1%;
                                    font-family: "Inter";
                                    background-color: rgba(45,78,255,0.06);
                                    border-radius: 1vmax;
                                    font-size:1.4vmax;
                                    align-items: center;}
                .flightClassMinimum {grid-row:2;
                                     grid-column:2;}
                .flightClassEconom {grid-row:3;
                                     grid-column:2;}
                .flightClassBusiness {grid-row:4;
                                     grid-column:2;}
                .flightClassBusiness, .flightClassEconom, .flightClassMinimum {color:#6c6c6c;}
                .buttonMinimum {grid-row:2;
                                grid-column:3;
                               height:100%;}
                .buttonEconom {grid-row:3;
                                grid-column:3;
                               height:100%;}
                .buttonBusiness {grid-row:4;
                                grid-column:3;
                               height:100%;}
                .disabledButton {background-color: #6c6c6c;
                                 color:white;
                                 border: none;
                                 border-radius: 0.75vmax;}
                .backToSearchA {grid-column:2;
                                display: grid;
                                max-width: 40%;
                                min-width: 20%;
                               grid-template-columns: 7% auto;
                               grid-template-rows: 100%;
                               align-items: center;}
                .backToSearch {color:#6c6c6c;
                               font-family: "Inter";
                               font-size: 1.4vmax;}
                .backGrid {height:3vmax;}
                .backToSearchA svg {width:1.2vmax;
                                    height:1.2vmax;}